# Node
client/node_modules
client/dist

# Python
server/.venv
server/__pycache__
server/*.db
server/*.env

# General
.git
.gitignore
.vscode
.idea
Dockerfile
.dockerignore
implementation_plan.md
task.md
walkthrough.md
